{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'decision_maker/style.css' %}" />

<h1>Restaurants</h1>

{% if restaurants %}
    {% for restaurant in restaurants %}
        <div class="restaurant">
            <p class="name">{{ restaurant.name }}</p>
            <ul>
                <li>Food type: {{ restaurant.food_type }}</li>
                {% if restaurant.link_to_menu %}
                <li>See <a href={{ restaurant.link_to_menu }}>menu</a></li>
                {% endif %}
            </ul>
        </div>
    {% endfor %}
{% else %}
        <p>No restaurants available.</p>
{% endif %}